*{
margin: 0;
padding: 0;
font-family: 'Ubuntu', sans-serif;
/* box-sizing: border-box; */
}
 /* **************headers*********** */
body{
background-color:rgb(228, 235, 228);
overflow-x: hidden;
/* overflow-y: hidden; */
}


 .navbar{
width: 100%;
height: 90px;
background-color:rgb(239, 246, 250);
 }
 .left_menu{
width:25%;
line-height: 80px;
float:left;
 }
 .left_menu a{
    padding-left:70px;
font-weight: bold;
font-size:30px;
text-transform: uppercase;
color: rgb(15, 7, 7);
text-decoration: none;
 }
 .right_menu{
     width:40%;
    line-height: 80px;
    float:right;
    /* margin-left:10px; */
     }

     .right_menu ul li{
display: inline-block;
list-style: none;
font-size:20px;
/* color:rgb(17, 15, 15); */
font-weight: bold;
line-height:70px;
margin-left: 50px;
cursor: pointer;
text-transform: capitalize;

     }

     .right_menu ul li a{
        text-decoration: none;
        font-weight: bold;
    }

     .right_menu ul li a:hover{
border-bottom: 5px solid green;
 color: rgb(131, 131, 182);
     }
.home-title{
    width: 1180px;
font-size:70px;
font-family: 'Balsamiq Sans', cursive;
font-weight:bold;
margin-bottom: 50px;
}
.main-heading{
    font-size:70px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight:bold; 
}

.main-section{
    margin-top: 30px;
}

.figure{
display: flex;
justify-content:end;
position: relative;

width:30%;
float:right;

}

.main-section .figure img{
    border-radius: 100%;
width: 350px; 
height: 400px;
position:relative;
right:13rem;
top:-5rem;

}

.main-hero-para{
    margin-top: 20px;
    width:50%;
color:rgb(122, 113, 113);
font-size: 30px;
font-weight:bold;
display:flex;
justify-content:center;
align-items:center;
/* border: 1px solid red; */

}

strong{

    padding:150px;
    color: black;
    font-size:50px;
    font-weight:bold;
    text-transform: capitalize;
}

.home-content{
    margin-top:20px;
}
.home-social{
    position:fixed;
    top: 50%;
    display:inline-block;
    padding: 10px;
    border-radius: 5px;
    width: 20px;
    height: 80px;
}

.home-social a{
    display:flex;
margin-bottom: 30px;
}

.home-social a i{
    font-size:1.5rem;
}

.home-social a i:hover{
/* background-color:rgb(212, 28, 28); */
background:lightcyan;
border-radius:10px;
}



.btn {
   
 background-color:rgb(51, 73, 197);
    margin-top:20px ;
    margin-left: 10rem;
    padding: 1em 2em;
    color: #ffffff;
 border-radius:20px;
 text-transform: capitalize;
}
.btn:hover{
 color :black; 
 background:transparent; 

 }














































































































 /* ***************************media queries************************* */
 @media only screen and (max-width: 1300px){

    .section .figure img {
        border-radius: 100%;
        width: 340px;
        height: 390px;
        position: absolute;
        right: 20rem;
        top: -15rem;
    }
    .home-social a i{
        font-size:3rem;
    }
    .home-social{
        position:fixed;
        top: 25%;
        display:inline-block;
        padding: 10px;
        border-radius: 5px;
        width: 20px;
        height: 80px;
    }

  
    .home-title {
       
        font-size: 7rem;
        font-family: 'Balsamiq Sans', cursive;
        font-weight: bold;
        margin-bottom: 50px;
    
    }
    .main-hero-para {
        margin-top: -30px;
        width: 30%;
        color: rgb(122, 113, 113);
        font-size: 45px;
        padding: 135px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
    }

    .btn {
        background-color: rgb(51, 73, 197);
        margin-top: -15px;
        margin-left: 10rem;
        padding: 1em 2em;
        color: #ffffff;
        border-radius: 20px;
        text-transform: capitalize;
    }


 }

 @media only screen and (max-width: 1180px)  {
    html{
width: 200%;

    }

    strong {
        padding: 115px;
        color: black;
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .right_menu {
        width: 35%;
        line-height: 80px;
        float: right;
    }

    .home-social a i{
        font-size:3rem;
    }


 }

 @media only screen and (max-width:900px)  {
    strong {
        padding: 115px;
        color: black;
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .right_menu {
        width: 60%;
        line-height: 80px;
        float: right;
    }

    .left_menu a {
        padding-left: 10px;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        color: rgb(15, 7, 7);
        text-decoration: none;
    }

    .main-section .figure img {
        border-radius: 100%;
        width: 240px;
        height: 300px;
        position:absolute;
        right: 15rem;
        top: -15rem;
    }

    strong {
    
        /* padding: 70px; */
        padding-right: 70px;
        color: black;
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .home-social a i{
        font-size:3rem;
    }

    .home-social{
        position:fixed;
        top: 50%;
        display:inline-block;
        padding: 10px;
        border-radius: 5px;
        width: 20px;
        height: 80px;
    }

    .main-hero-para {
        margin-top: -20px;
        width: 50%;
        color: rgb(122, 113, 113);
        font-size: 45px;
        padding-right: 70px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 }

 @media only screen and (max-width:725px)  {
.right_menu{
    display:none;
}    


 }

 @media only screen and (max-width:600px)  {

        .home-social {
            position: fixed;
            top: 40%;
            display:none;
            padding: 10px;
            border-radius: 5px;
            width: 37px;
            height: 80px;
        }
    
        html{
            width: 200%;
            
                }

                strong {
                    /* padding: 0px; */
                    color: black;
                    font-size: 25px;
                    font-weight: bold;
                    text-transform: capitalize;
                }
                .main-section {
                    margin-top: 15px;
                }
        
                .figure {
                    display: flex;
                    justify-content: end;
                    position:relative;
                    width: 30%;
                    float: right;
                }
        
                .main-section .figure img {
                    border-radius: 100%;
                    height: 250px;
                    position:absolute;
                    right: -15rem;
                    top: -30rem;
                    
                }
        
                .navbar {
                    width: 100%;
                    height: 70px;
                 margin-bottom: 15rem;
                    background-color: rgb(239, 246, 250);
                }
            }




            @media only screen and (max-width:1020px){
                .section .figure img {
                    border-radius: 100%;
                    width: 340px;
                    height: 390px;
                    position: absolute;
                    right: 20rem;
                    top: -15rem;
                }

            }


     @media only screen and (max-width:590px){

        html{
            width: 400%;
            
                }

        strong {
            padding: 0px;
            color: black;
            font-size: 25px;
            font-weight: bold;
            text-transform: capitalize;
        }
        .main-section {
            margin-top: 15px;
        }

        .figure {
            display: flex;
            justify-content: end;
            position: absolute;
            width: 30%;
            float: right;
        }

        .main-section .figure img {
            border-radius: 100%;
            width: 30%;
            height: 20%;
            position:fixed;
            right: 2rem;
            top: 8rem;
            
        }
        .main-hero-para {
            margin-top: -20px;
            width: 50%;
            color: rgb(122, 113, 113);
            font-size:75px;
            padding: 60px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
        strong {
            padding: 0px;
            color: black;
            font-size: 75px;
            font-weight: bold;
            text-transform: capitalize;
        }
        .main-heading {
            font-size: 185px;
            font-family: 'Balsamiq Sans', cursive;
            font-weight: bold;
        }
        .btn {
            background-color: rgb(51, 73, 197);
            margin-top: -15px;
            margin-left: 10rem;
            padding: 1em 2em;
            color: #ffffff;
            border-radius: 20px;
            text-transform: capitalize;
            font-size: 50px;
        }


     }